<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a routerLink="" >Home page</a>
  <a routerLink="/lista-sertifikata" class="active">Certificate list</a>
  <a routerLink="/forma" >New certificate</a>
</div>


<ul style ="float:left; margin-left: 40%" class="form-style-1">
  <li><label><h2>Certificate list</h2> </label></li>

  <li *ngFor="let c of certificates">
    <label> Email: {{c.email}} </label>
    <label> Serial number: {{c.serialNumber}} </label>
    <input (click) = "preview(c)" type="submit" value="Preview"/>
    <input (click) = "revoke(c.serialNumber)" type="reset" value="Revoke"/>
    <input (click) = "download(c.serialNumber)" type="button" value="Download"/>
  </li>
</ul>

<div class="preview" style = "margin-right: 25%; margin-top: 25px;" *ngIf="selected">
  <h3>Certificate Preview</h3>
  <label class = "previewlabel">Common name: <b>{{selectedCertificate.commonName}}</b></label>
  <label class = "previewlabel">Surname: <b>{{selectedCertificate.surname}}</b></label>
  <label class = "previewlabel">Given name: <b>{{selectedCertificate.givenname}}</b></label>
  <label class = "previewlabel">Country code: <b>{{selectedCertificate.countryCode}}</b></label>
  <label class = "previewlabel">Email: <b>{{selectedCertificate.email}}</b></label>
  <label class = "previewlabel">Organization: <b>{{selectedCertificate.organization}}</b></label>
  <label class = "previewlabel">Organization unit: <b>{{selectedCertificate.organizationalUnitName}}</b></label>
  <label class = "previewlabel">Serial number: <b>{{selectedCertificate.serialNumber}}</b></label>
  <label class = "previewlabel">Valid from: <b>11.06.2019 12:59:23PM</b></label>
  <label class = "previewlabel">Valid to: <b>11.6.2020 12:59:23PM</b></label>
  <div style = "float:left;width:250px">
  <button class = "previewlabel" (click)="selected = false">Close</button>
  </div>
</div>
